<button (click)="scrollTo()">ScrolltoFooter</button>

<div style="overflow: auto; height: 200px;">
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
 
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
 
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Sapiente quos
      amet sit fuga illum dolorem dolor
       accusantium harum cum quidem,
        inventore adipisci nisi numquam
         dicta et commodi rem, distinctio fugiat?
</p>
<div class="footer"></div>

</div>























<button data-bs-toggle="modal" data-bs-target="#exampleModal"> modal</button>

<!-- <div class="modal fade asassa" data-bs-backdrop="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
<div class="modal fade asassa" data-bs-backdrop="false" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><- Volver</button>
          <h1>Edicion</h1>
            <input type="text" placeholder="Nuevo valor">
            <br>
            <button data-bs-dismiss="modal">Cancelar</button>
            <button data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
</div>